body{
    margin: 0px;
    padding: 0px;
    background-color: #faf5f5f8;
}
/* #navbar{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: #d90646;
    padding-right: 25px;
    position: fixed;
    z-index: 99999;
    margin-top: 28px;
}
#navbar img{
    height:65%;
    margin-left: 100px;
    margin-top: 10px;
}
#search{
    width: 40%  ;
    height: 35px;
    border: none;
    margin: auto;
    margin-left:80px;
    margin-right: 0px;
    font-size: 20px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    padding-left: 20px;

}
#navbar button{
    margin-left:0px ;
    width: 10%;
    height: 36px;
    border: none;
    color: white;
    font-size: 17px;
    background-color: rgb(51, 49, 49);
    margin-top: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  
}
#navbar div{
    display: flex;
    margin-left: 40px;
    align-items: center;
    color: white;
}
#navbar #cart{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    padding-right: 33px;
    padding-top: 9px;
    margin-left: 7%;
    font-size: 16px;
}
#navbar #cart img{
    width: 35%;
    margin-left: 10px;
}
#navbar #cart p{
    margin-top: 12px;
}
#navbar #sign-in{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    width: 15%;
    text-decoration: none;
    padding-top: 8px;
    font-size: 16px;
}
#navbar #sign-in p{
    margin-top: 12px;
}
#sign-in img{
    margin-left: 13%;
}
#navbar div{
    width:auto;
}
#hidden{
height: 109px;
background-color: none;
}
header{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #c3043d;
    height:30px;
    color:white;
    position: fixed;
    z-index: 99999;
}
header a{
    font-size: 12px;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: white; 
}
header div{
    margin-left: 37%;
    width: auto;
}
header p{
    font-size: 13px;
    margin-left:5%;
    margin-top: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
} */


header {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    color: white;
    background-color: #c3043d;
    justify-content: space-between;
    padding: 5px 60px;
    font-size: smaller;
    line-height: 5px;
    /* position: fixed;
    z-index: 99999; */
}

header a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.navbar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #d90646;
    justify-content: space-between;
    padding: 11px 40px;
    /* position: fixed;
    z-index: 99999; */
}

.navbar>div {
    display: flex;
    align-items: center;
    color: white;
}

.navbar>div>a>img {
    width: 180px;
}

#search {
    height: 34px;
    border: none;
    font-size: 13px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding-left: 20px;
    padding-right: 300px;
}

.navbar button {
    height: 38px;
    border: none;
    color: white;
    font-size: 13px;
    background-color: black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0px 30px;
    align-items: center;
}

.navbar button i {
    font-size: 12px;
    margin-right: 2px;

}

#cart {
    gap: 30px;
}

#cart > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#cart > a > img {
    width: 35px;
}


.heading {
    color:rgb(162, 157, 157);
    font-size: 25px;
    margin-left: 80px;
    margin-top: 25px;
}
.rec-head{
    color:rgb(162, 157, 157);
    font-size: 25px;
    
    margin-top: 10px;
}
#container{
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 0.9fr;
    grid-template-rows: 0.5fr 1fr;
    width: 90%;
    margin: auto;
    padding-right: 15px;
    height: 800px;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: -40px ;
}
#sidebar{
    margin-left: 20px;
    grid-row-start: 1 ;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 748px;   
}
#sidebar #menu{
    padding-top: 10px;
    height: 650px;
    background-color: white; 
}
#sidebar #menu .menu-head{
    margin-top: 12PX;
    margin-left: 13px;
    margin-bottom: 10px;
    color: rgb(161, 157, 157);
}
.catelogo{
    width: 100%;
    height: 35px;
    font-size: 15px;
    text-align: left;
    background-color: white;
    border: none;
    color: rgb(161, 157, 157);
}
.catelogo img{
    height: 100%;
}
.catelogo:hover{
    background: #f5f1f1;
    border-left: 2px solid red;
}
.more{
    width: 100%;
    height: 30px;
    font-size: 14px;
    background-color: white;
    border: none;
    color: rgb(161, 157, 157);
    text-align: left;
}
.more:hover{
    background: #f5f1f1;
    border-left: 2px solid red;
}
.recent-search{
    font-size: 14px;
    text-align: left;
    width: 100%;
    height: 30px;
    border: none;
    color: rgb(161, 157, 157);
    background-color: white; 
}
#main{
    grid-row-start: 1 ;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    height: 320px;
    /* border: 2px solid; */
    margin-bottom: 0px;
    background-color:white;
}
#main img{
    margin-top: 0px;
    width: 100%;
    height: 319px;
}
#pin{
    grid-column-start: 5;
    grid-column-end: 6;
    height: 319px;
    background-color: white;
    border-radius: 4px;
}
#pin img{
    width: 100%;
    height: 70%; 
}
#pin div{
    width: 100%;
    height: 30%;

}
#pin #inp{
    margin-left: 6px;
    margin-bottom: 10px;
    height: 40px;
    width:95%  
}
#pin #submit{
    width: 60%;
    height: 35px;
    border: none;
    margin-left: 5px;
    background-color: rgb(62, 60, 60);
    color: white;
    border-radius: 3px;
    font-size: 15px;
}
#pin #next{
    width: 33%;
    height: 35px;
    border-radius: 3px;
    font-size: 15px;
    border: none;
    color: rgb(161, 157, 157);
    background-color: #faf5f5f8;
}
#rec{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 6;
    height: 500px;
    margin-bottom: 0px; 
}
#item{
    display: flex;
    background-color: white;
    height: 350px;
}
#item .image{
    width: 100%;
    height: 70%;
    margin: auto;
    padding-left: 23px;
    padding-top: 20px;
}
#item .image img{
    width: 90%;
    height: 95%;
}
#item .detail{
    width: 95%;
    height: 30%;
    padding: 10px;
    margin: auto;
    font-size: small;
}
.detail .des{
    margin-top: -5px; 
    color: #aeaaaa;
}
#barcode{
    margin-top: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
}
#barcode img{
    width: 100%;
    height: 100%;
}
/* --------------------footer------------------------- */

footer{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding-top: 50px;
    padding: 50px 50px 0px 50px;
    /* background-color: #faf5f5f8;
    border-top: 1px solid #faf5f5f8; */
    font-size: small;
}
footer > div > p{
    margin-top: -15px;
    color: rgb(133, 130, 130);
}
footer > div > p > a{
    text-decoration: none;
    color: rgb(112, 109, 109);
    font-weight: bold;
}
footer > div > p > a:hover{
    text-decoration: underline;
    color: #c3043d;
}
#paragraph{
    text-align: justify;
    color: rgb(133, 130, 130);
}
#copyright1{
    margin-top: 40px;
    display: flex;
    /* background-color: white;
    width: 100%; */
    justify-content: space-between;
    color: rgb(133, 130, 130);
}

/* ----------------------footer end------------------- */

.slider{
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}
.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slide-track .slide{
    height: 269px;
    width:100%;
    display: flex; 
    align-items: center;
    padding: 15px;
    perspective: 100px;  
}
.slide-track .slide img{
    width: 100%; 
    transition: transform 1s;
}
.slide-track .slide img:hover{
    transform: translateZ(20px);
}
/* gradient shadows */
.slider::before, .slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1 ) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
    margin-left: -14px;
    margin-right: -80px;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
/* ----------------second part--------------------- */
#second{
    display: flex;
    width: 95%;
    margin: auto;
    background-color: white;
}
#second img{
    width: 100%;
}
#download-app{
    padding-top: 100px; 
    width: 400px;
    margin-left: 100px;
    margin-right: 30px;
}
#download-app button img{
    width: 100%;
    height: 35px;
    border-radius: 5px;
} 
#download-app button{
    border: none;
    width: 130px;
    background-color: white;
    margin-top: 20px; 
}

/* --------------------------third part--------------------- */

.third{
    display: flex;
    height: 200px;
    margin-top: 50px;
    background-color: white;
    border-top: 1px solid rgb(177, 172, 172);
    border-bottom: 1px solid rgb(177, 172, 172);
}
.third div{
    padding-left: 120px;
}
.third img{
    border-left: 1px solid rgb(177, 172, 172);
    border-right: 1px solid rgb(177, 172, 172);
    width: 24%;
    height: 100%;
    margin-left: -6px;
}
.anchor{
    display: flex;
    background-color: white;
}
.anchor .link{
    width: 300px;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}
.link a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #aeaaaa;
}
.link p{
    font-size: 16px;
}
.link input{
    margin-right: -5px;
}
#subBtn{
    color: white;
    background-color: rgb(63, 62, 62);
    margin-bottom: 20px;
    border: none;
    height: 32px;
    font-size: 14px;
}
.last{
    display: flex;
    background-color: white;
    height: 130px;
    border-top: 1px solid rgb(177, 172, 172);
    border-bottom: 1px solid rgb(177, 172, 172);
}
.last .payment{
    width: 30%;
    margin: auto;
}
.last .payment img{
    width: 100%;
}
.last .social-media{
    width: 40%;
    margin: auto;
}
.last .social-media img{
    width: 7%;
    margin-left: -5px;
}
.last p{
    font-size: 16px;
    color: rgb(186, 181, 181);
}
.men{
    text-decoration: none;
    color: rgb(167, 162, 162);
}